.ratingButton {
  width: 3rem;
  height: 3rem;

  border: 0;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;

  svg {
    color: var(--gray-200);
  }

  &:hover {
    background-color: var(--yellow-light);

    svg {
      color: var(--yellow);
    }
  }
}
